html {
	font-family: 'Roboto', sans-serif;
	color: #281f15
}

body {
	background: #e7dfd8;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 30px;
	text-align: center;
}

title {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: left;
	padding: 0 30px;
	text-align: center;
	
	border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

title > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
	transition: all 1.5s ease;
}

title > .intro:hover {
	font-size: 4.75em;
	color: #654f3a;
}

title > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

footer {
	background: #e7dfd8;
	padding: 10px 0;
}

footer a {
	color: #281f15;
	font-size: 20px;
	padding: 10px;
	/* border-right: 1px solid #281f15; */
	transition: all .75s ease;
}

/* footer a:first-child {
	border-left: 1px solid #281f15;
} */

footer a:hover {
	color: #654f3a;
	font-size: 25px;
}
